body {}

.jumbotron {
  text-align: center;
  background-color: #f2d7d5;
  font-family: fantasy;
  border: 2px solid #A93226;
  color: #7b241c;
}

.jumbotron ul {
  display: inline;
}

.jumbotron li {
  list-style-type: none;
  padding-right: 10px;
}

.well {
  background-color: #F9EBEA;
  font-size: 16px;
  border: 2px solid #A93226;
}

.portrait {
  width: 300px;
  height: 200px;
  float: left;
}
